@import url('animation.css');

* {
  box-sizing: border-box;
}
body, html {
  background: #555;
  color: #fff;
  font-family: 'Press Start 2P';
  font-size: 16px;
  height: 100%;
  margin: 2px auto;
  text-align: center;
  width: 100%;
}
a {
  color: #3dcc5f;
}
button {
  border: none;
  color: #fff;
  float: left;
  padding: 5px;
  width: 50%;
}
button:hover {
  cursor: pointer;
}
h1 {
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
canvas {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
}

div#wrap {
  margin: 0 auto;
  padding: 0;
}
div#wrap div#main {
  padding: 0 0 10px;
}
@media (min-width: 768px) {
  div#wrap {
    padding: 0 20px 20px;
  }
  div#wrap div#main {
    padding: 10px 0 10px;
  }
}

footer {
  background: #222;
  color: #bbb;
  font-size: 0.5em;
  line-height: 1.8em;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
}
footer div {
  margin: 10px 0;
}
@media (min-width: 768px) {
  footer {
    font-size: 0.65em;
    padding: 10px 75px;
    text-align: center;
  }
}

/**
 * TV SCREEN
 */
section#screen {
  height: auto;
  margin: 0 auto;
  max-height: 960px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
section#screen svg {
  display: block;
  fill: #000;
}
section#screen div#messageScreen {
  font-size: 3vw;
  position: absolute;
  text-align: center;
  top: 45%;
  transform: translateY(-45%);
  width: 100%;
}
@media (min-width: 768px) {
  section#screen {
    border: 5px solid #222;
    box-shadow: 4px 4px 12px #111;
  }
}

/**
 * NOISE CONTROLS
 */
section#noiseControls {
  bottom: 23px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  section#noiseControls {
    border-left: 3px solid #222;
    border-right: 3px solid #222;
    border-top: 3px solid #222;
    bottom: 32px;
    width: 100%;
  }
}
section#noiseControls button {
  height: 25px;
}
section#noiseControls button#btnNoiseStart {
  background-color: #060;
}
section#noiseControls button#btnNoiseStart:hover {
  background-color: #090;
}
section#noiseControls button#btnNoiseStop {
  background-color: #600;
}
section#noiseControls button#btnNoiseStop:hover {
  background-color: #900;
}
/**
 * TV CONTROLS
 */
section#svgControls {
  display: none;
  margin: 16px auto 0;
  width: 100%;
}
section#svgControls a {
  background: #fff;
  display: inline-block;
  height: 36px;
  margin: 0;
  width: 48px;
}
section#svgControls a:hover {
  background: #ddd;
}
section#svgControls a.selected {
  background: #ddd;
}
section#svgControls svg {
  background: #fff;
  border: 2px solid #000;
  height: 36px;
  margin: 0 auto;
  width: 100%;
}
section#svgControls svg:hover {
  background: #333;
  fill: #fff;
}

/**
 * AUDIO PLAYER
 */
div.player {
  clear: both;
  float: none;
  margin: 0 auto;
  width: 100%;
}
  div.player .controls {
    background: #333;
    padding: 8px;
  }
  div.player .playButton {
    background: transparent;
    color: #3dcc5f;
    cursor: pointer;
    display: inline-block;
    font-size: 6vw;
    margin: 3px 0 0;
    outline: none;
    text-align: center;
    width: 100%;
  }
  div.player .playButton.superImposed {
    -moz-transition: color 300ms ease;
    -ms-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
    color: rgba(61, 204, 95, 0);
    display: inline-block;
    font-size: 12vw;
    height: auto;
    left: 0;
    max-height: 960px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  @media (min-width: 768px) {
    div.player .playButton.superImposed {
      margin-left: 20px;
      margin-right: 20px;
      top: 47px;
    }
  }
  div.player .playButton.superImposed.visible {
    color: rgba(61, 204, 95, 1);
    display: inline-block;
  }
  div.player .playButton:hover {
    color: #53dd73;
  }
  div.player .playButton:disabled {
    color: #555;
    cursor: auto;
  }
  div.player .track {
    background: #000;
    border: 1px solid #666;
    display: inline-block;
    height: 20px;
    margin: 7px 0 0 16px;
    position: relative;
    vertical-align: top;
    width: 80%;
  }
  div.player .progress {
    background: #800;
    height: 100%;
    position: absolute;
    width: 0%;
  }
  div.player .scrubber {
    background: #f00;
    border: solid 3px #ddd;
    border-radius: 50%;
    box-shadow: 0 0 5px #000, inset 0 0 4px #400;
    cursor: pointer;
    height: 24px;
    margin: -3px 0 0 -12px;
    opacity: 1.0;
    position: absolute;
    width: 24px;
  }
  div.player .scrubber:hover {
    opacity: 0.85;
  }
  div.player .scrubber.disabled {
    background: #444;
    border: solid 3px #333;
    box-shadow: none;
    cursor: auto;
    opacity: 0.75;
  }
  div.player .rngVolume {
    margin: 10px;
    padding: 0;
    width: 80%;
  }
  div.player .lblVolume {
    background: #333;
    color: #fff;
    padding: 2px;
    position: relative;
    top: 1px;
  }
  div.player .messageDebug {
    clear: left;
    height: 20px;
    text-align: center;
  }

.loaded {
  color: #090;
}
.loading {
  color: #b7c266;
}
.error {
  color: #900;
}
.playing {
  color: #009;
}
.debug {
  display: none;
}
