body, html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  font-family: Impact;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
a, a:active, a:visited {
  color: blue;
  font-size: 1em;
}
h2 {
  color: white;
  font-size: 4em;
}
#wrap {
  padding: 20px;
}
#findHim {
  text-transform: uppercase;
}
.hidden {
  height: 10px;
  display: block;
  width: 100%;
}
